@import "tailwindcss";

:root {
  --background: #f7f7f5;
  --foreground: #514f54;

  --primary: #2b275b;
  --secondary: #514f54;
  --white: #ffffff;
  --light-gray: #e7e7e7;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
